<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvince.instagramviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:launchMode="singleTop">
            <!--<intent-filter>-->
                <!--//このactivityの起動時に何をするか設定-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--//これを起動時の画面として設定-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--//このAcitivityが呼ばれた際に、デバイスのホーム画面にランチャーアイコンを作成させる-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".PhotosActivity"
            android:label="Photos"
            android:parentActivityName=".MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mvince.instagramviewer..MainActivity2" />
        </activity>
        <activity
            android:name=".CommentsActivity"
            android:label="@string/comments_caption"
            android:parentActivityName=".PhotosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mvince.instagramviewer.PhotosActivity" />
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="InstaFlickr"
            android:launchMode="singleTop">
            <intent-filter>
                //このactivityの起動時に何をするか設定
                <action android:name="android.intent.action.MAIN" />
                //これを起動時の画面として設定
                <category android:name="android.intent.category.LAUNCHER" />
                //このAcitivityが呼ばれた際に、デバイスのホーム画面にランチャーアイコンを作成させる
            </intent-filter>
        </activity>
        <service
            android:name=".MyService4Service"
            android:label="timeService">
        </service>
    </application>

</manifest>
